opencv-python
notebook
ipykernel
matplotlib
numpy<2
mypy
pre-commit
scikit-learn
networkx
tqdm
open3d-python
open3d
kagglehub

#Image Comparators
lpips
torchvision==0.16.0
scikit-image #Contem um dos comparadores
torchmetrics
realesrgan

-e ./src