opencv-python
matplotlib
Pillow
timm
pandas
scikit-learn
scikit-image
lpips
loguru
omegaconf
basicsr
einops
imageio
albumentations
loralib
scipy==1.9.3
numpy==1.24.3  # Compatível com PyTorch 2.1.1
-e ./src